// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Scope+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Scope+One&display=swap');

// Any variable overrides here
$primary: #FFF;
$bg-dark: #222222;
$bg-primary: rgba(61, 61, 61, 0.75);
$bg-primary-solid: rgba(61, 61, 61, 1);
$bg-primary-radial: rgba(0, 0, 0, 0.80);
$font-size-base: 1.5rem;


// Import bootstrap styles
@import '../node_modules/bootstrap/scss/bootstrap.scss';

// Any custom styles here
nav {
    background-color: #3d3d3d;
    box-shadow: 0px 0px 4px 0px $primary;
    width: 80%;
}

@media only screen and (min-width: 768px) {
    nav {
        width: 60%;
    }
}

@media only screen and (min-width: 1024px) {
    nav {
        width: 40%;
    }
}

body {
    background-color: $bg-dark;
}

#content {
    height: 100vh;
    width: 100vw;
    background: radial-gradient(rgba(255, 255, 255, 0.00), $bg-primary-radial), linear-gradient($bg-primary, $bg-primary), url("../images/background.jpg") no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.text-primary {
    color: $primary;
    font-family: 'Scope One', serif;
    font-style: normal;
    font-weight: $font-weight-normal;
    line-height: normal;
}

.text-link {
    color: $primary;
    font-family: Inter;
    font-style: normal;
    font-weight: $font-weight-normal;
    line-height: normal;
    text-decoration: none;
}

.text-link * {
    text-decoration: none;
}

.profile-pic-container {
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 20px -5px $primary;
}

@media screen and (min-width: 768px) {
    .profile-pic-container {
        width: 300px;
        height: 300px;
    }   
}

@media screen and (max-height: 768px) {
    .profile-pic-container {
        display: none;
    }   
}

.profile-pic {
    height: 100%;
    margin-left: -25%;
}

.icon-primary {
    color: $primary;
    font-size: 4rem;
}

.content-panel {
    background-color: $bg-dark;
    border-radius: 25px;
    box-shadow: 0px 4px 15px 10px $bg-dark;
}

ul.arrow-list {
    list-style-type: none;
    padding-left: 0;
}

ul.arrow-list li::before {
    content: '➔';
    margin-right: 0.5em;
    left: 0;
  }