{% extends 'base.html' %}

{% block content %}
    <div class="h-100 d-flex flex-column align-items-center justify-content-center">
        <div class="profile-pic-container m-2">
            <img src="{{ url_for('static', filename='images/profilepic.jpg') }}" alt="Alexander Ostle" class="profile-pic">
        </div>
        <h1 class="text-primary text-center mb-2 fs-1 fw-semibold">Alexander Ostle</h1>
        <h2 class="text-primary text-center mb-2 fs-2">Computer Engineering Graduate</h2>
        <span class="icon-primary mb-4">
            <a href="https://www.linkedin.com/in/alexander-ostle-746448206/" target="_blank"><i class="fa-brands fa-linkedin px-2"></i></a>
            <a href="https://github.com/AlexOstle/alex-personal-site" target="_blank"><i class="fa-brands fa-github px-2"></i></a>
        </span>
        <nav class="text-link d-flex justify-content-between rounded p-3 px-5">
            <a class="text-decoration-none" href="#">Info</a>
            <a class="text-decoration-none" href="#">Projects</a>
            <a class="text-decoration-none" href="#">Blog</a>
        </nav>
    </div>
{% endblock %}